/*Começo do CSS do Menu lateral*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    margin: 0px;
    padding: 0px;
    background-color: #f2f2f2;
}

header#Cabecalho {
    background-color: #F1F1F1;
    width: 100%;
    height: 20%;
}

header#LogoUVV {
    width: 16rem;
    height: 8.6rem;
    margin-top: 0.18rem;
    margin-bottom: 0.18rem;
}

main#Corpo {
    display: flex;
    height: 100%;
}

nav#BarraLateral {
    padding-top: 1.6rem;
    background-color: #1F1273;
    padding-bottom: 4.1rem;
    width: 20%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

nav section#Aluno {
    margin-left: 1.06rem;
    margin-bottom: 4.25rem;
    display: flex;
    color: white;
    font-family: 'Ubuntu';
}

nav section#Navegacao {
    border-radius: 1.25rem;
    margin-left: 0.8rem;
    margin-right: 1.25rem;
    margin-bottom: 0;
    margin-top: 0;
    height: auto;
    width: 85%;
    background-color: #1B0C54;
}

nav section#Navegacao ul {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    list-style-type: none;
    padding: 0.5rem;
    width: 100%;
    height: 100%;
}

nav section#Navegacao ul li {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 0.5rem;
}

nav section#Navegacao ul li a {
    margin: 0;
    padding: 0;
    font-style: normal;
    color: white;
    text-decoration: none;
}

nav section#Navegacao ul li a:hover {
    color: #614bee;
    text-shadow: 1.5px 1.5px;
}

nav footer {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 21rem;
}

nav footer img {
    object-fit: cover;
    width: 3rem;
    height: 3rem;
}

#SairConta {
    color: #00F0FF;
}

/*Fim do CSS do Menu lateral*/

#TabelaAtividades {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    align-items: center;
    justify-content: center;
    height: 292px;
    width: 860px;
    border: 1px solid black;
}

#EstadoCertificadosMaior {
    margin-left: 104px;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#EstadoCertificados {
    margin-left: 47px;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#UltimosCertificados {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 125px;
    margin-bottom: 5px;
}

#VerCertificados {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 201px;
    color: #240E90;
}

.DivisoriaUltimoCertificados {
    display: contents;
    margin-left: 123px;
    margin-top: 78px;
}

.Bloco {
    margin-left: 105px;
    margin-right: 63px;
    height: 174.16px;
    width: 337px;
    border: 2px solid black;
}

.BlocoGeral {
    margin-top: 65px;
    margin-left: 105px;
    height: 292px;
    width: 860px;
    border: 2px solid black;
}

.ImgFotoAluno {
    margin-right: 13px;
}

.IconeNavegarIcones {
    padding-top: 12px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.IconeNavegarPalavras {
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 13px;
}

.IconeAluno {
    padding-top: 583px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    height: 40px;
    width: 25px;
}

#Mainline {
    display: flex;
}

#BlocosInfo {
    display: flex;
}