@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

#LogoUVV {
    width: 256px;
    height: 138px;
    margin-top: 3px;
    margin-bottom: 3px;
}

#Mainline {
    display: flex;
}

#BarraLateral {
    padding-top: 27px;
    padding-bottom: 67px;
    width: 233px;
    height: 838px;
    background-color: #1F1273;
}

#Conteudo {
    flex-grow: 1;
}

#BlocosInfo {
    margin-top: 130px;
    margin-left: 118px;
    display: flex;
}

#NavegarPáginas {
    border-radius: 20px;
    margin-left: 14px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
    height: 136px;
    width: 199px;
    background-color: #1B0C54;
}

#Creditos {
    margin-top: 84px;
    margin-left: 757px;
}

#Aluno {
    margin-left: 17px;
    margin-bottom: 68px;
    display: flex;
    flex-direction: row;
    color: white;
    font-family: 'Ubuntu';
}

#Palavras_Info {
    margin-left: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Ubuntu';
}

#Palavras_Terms {
    margin-left: 51px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Ubuntu';
}

#Palavras_Copyright {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Ubuntu';
    color: #717171;
}

#IconeAlunoSair {
    padding-top: 12px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

#IconeAluno {
    display: flex;
    align-items: center;
}

#SairConta {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: #00F0FF;
    display: flex;
    align-items: center;
    margin-left: 70px;
}

#SairConta a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: #00F0FF;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

#EstadoCertificadosMaior {
    margin-left: 64px;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#EstadoCertificados {
    margin-left: 97px;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#UltimosCertificados {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 37px;
}

#VerCertificados {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 951px;
    color: #038181;
}

.LegendasSuporte {
    display: flex;
    flex-direction: row;
    font-family: 'Ubuntu';
    align-items: center;
    margin-left: 30px;
    margin-bottom: 0px;
    margin-top: 5px;
}

.Bloco {
    margin-right: 43px;
    height: 174.16px;
    width: 337px;
    border: 2px solid black;
}

.BlocoGeral {
    position: relative;
    margin-top: 65px;
    margin-left: 118px;
    height: 287.27px;
    width: 1489px;
    border: 2px solid black;
}

.BlocoGeral > .tabelaCertificados {
    display: flex;
    font-family: 'Ubuntu';
    left: 150px;
    align-items: center;
    border: 1px solid black;
    width: 93,4rem;
    border-left: 1px solid black;
    border-collapse: collapse;
    margin: 20px;
    margin-top: 10px;
}

.BlocoGeral > .tabelaCertificados tr th {
    padding: 20px;
    margin: auto;
    border-left: 1px solid black;
    border-collapse: collapse;
    width: 300px;
}

.BlocoGeral > .tabelaCertificados th td {
    padding: 20px;
    margin: auto;
    border-left: 1px solid black;
    border-collapse: collapse;

}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 1450px;

    
}

.BlocoGeral > .tabelaCertificados tr td {
    border-left: 1px solid black;
    border-collapse: collapse;
}

.tabelaLinhas{
    margin: 10px;
}

.Icones {
    padding-right: 27px;
}

.ImgFotoAluno {
    margin-right: 13px;
}

.IconeNavegarIcones {
    padding-top: 12px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.IconeNavegarPalavras {
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 13px;
}

.IconesClasse {
    margin: 1px;
}

.IconeAluno {
    padding-top: 583px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    height: 40px;
    width: 25px;
}